[user]
	name = Artsiom Balakir
	email = artsiombalakir@gmail.com
[core]
	autocrlf = input
	editor = "code --wait"
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[color]
	ui = auto
[alias]
	go = checkout
	# pretty-log: nice formatted, dence log
	plog = log --pretty=format:'%C(bold cyan)%h%C(red) %cr %C(yellow)%an %C(magenta)%s%C(green)%d %Creset'
	# pretty-log with graph
	glog = "!f() { git plog --graph --all $@; }; f"
	compare = difftool @^
	comparebranch = difftool
	difftop = diff @^
	# 'git github repo-nate' will clone from id below
	github = "!f() { git clone https://github.com/artsiom-svm/\"$1\"; }; f"
	amend = commit --amend --no-edit
[credential]
	helper = store
